<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 对应dao接口 -->
<mapper namespace="com.dao.DeviceDao">
    <resultMap id="DeviceResult" type="Device">
        <result property="TimeStamp" column="TimeStamp"/>
        <result property="NO_ppb" column="NO_ppb"/>
        <result property="NO_diff_mV" column="NO_diff_mV"/>
        <result property="NO2_ppb" column="NO2_ppb"/>
        <result property="NO2_diff_mV" column="NO2_diff_mV"/>
        <result property="CO_ppm" column="CO_ppm"/>
        <result property="CO_diff_mV" column="CO_diff_mV"/>
        <result property="CO2_ppm" column="CO2_ppm"/>
        <result property="CO2_mV" column="CO2_mV"/>
        <result property="PM1_ug" column="PM1_ug"/>
        <result property="PM25_ug" column="PM2.5_ug"/>
        <result property="PM10_ug" column="PM10_ug"/>
        <result property="Temp" column="Temp"/>
        <result property="Humi" column="Humi"/>
    </resultMap>
    
	<select id="findDeviceList" resultMap="DeviceResult" parameterType="Map" statementType="STATEMENT">
	    select * from ${deviceName} order by TimeStamp desc
	     <if test="start!=null and pageSize!=null">
       		limit ${start},${pageSize}
       	</if>
	</select>
	
    <!-- <choose>
       <when test="airquality_act!=null||airquality_ref!=null">
            SELECT DATE_FORMAT(`TimeStamp`,'%m月%d日 %H:%i')AS `TimeStamp`,`${airquality_act}`,`${airquality_ref}` FROM ${deviceName} GROUP BY DATE_FORMAT(`TimeStamp`,'%m月%d日 %H:%i') ORDER BY DATE_FORMAT(`TimeStamp`,'%m月%d日 %H:%i') DESC LIMIT 0,10
       </when> -->
	<select id="getChartsData" resultMap="DeviceResult" parameterType="Map" statementType="STATEMENT">
	    SELECT `TimeStamp`,`${airquality}` FROM ${deviceName}
	</select>
	
	<select id="getDeviceCount" parameterType="Map" resultType="Integer"  statementType="STATEMENT">
	    select count(*) from ${deviceName} 
	</select>
</mapper> 